@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.messageIcon__MessageIcon{
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        height: 2em;
        width: 2em;

        path{
            stroke: var(--nothing-light);
            stroke-width: 1;
            fill: var(--nothing-background-color);
        }
    }
}