@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.follower__Follower{
    @include script;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    .follower__Follower_icon{
        .storieIcon{
            height: 2em;
            width: 2em;
        }
    }

    .follower__Follower_name{
        flex-grow: 2;

        .follower__Follower_username{
            padding: 0;
            margin: 0;
            @include script-bold;
        }
        .follower__Follower_displayname{
            padding: 0;
            margin: 0;
        }
    }

    .follower__Follower_button{
        @include button;

        &.following{
            background-color: var(--nothing-lighter);
            @include script-bold;
        }
    }
}