---
import { DarkIcon } from "@component/DarkIcon";
---

<style lang="scss">
    @use '../../../styles/scss/variables' as *;
    @use '../../../styles/scss/mixins' as *;

    .header__Header{
        
        padding: 1em 1em .5em 1em;
        height: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top:0;
        left:0;
        right: 0;
        z-index: 80;

        .header__logo{
            @include script;
            font-size: 2rem;
        }   
        

        @include md{
            border-bottom: 1px solid var(--nothing-light);
            padding: .5em 1em .5em 1em;
            height: 1.5em;
            // width: 100%;
            max-width: 900px;
            margin: auto;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color:var(--nothing-light);
            background-color: var(--nothing-background-color);
        }

        .header__Icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            font-size: 1.5rem;

            > * {
                // height: 24px;
            }

            svg{
                // height: 24px;
                // width: 1.5em;
            }
        }
    }
</style>

<div class="header__Header">
    <div class='header__logo'>
        NOTHING
    </div>

    <div class='header__Icons'>
        <DarkIcon />
    </div>
</div>

<script></script>