---
import { Posts } from '@component/Posts';
import { Spinner } from "@component/Spinner";
---

<style lang="scss">
    .feed__Feed{
        padding-top: env(safe-area-inset-top);
    }
    .feed__Spinner{
        height: 45vh;
        width: fit-content;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="feed__Feed">
    <Posts number={20} />

    <div class="feed__Spinner">
        <Spinner />
    </div>
</div>

<script>    
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if(entry.isIntersecting){
                console.log('Element is in the viewport!');
                        fetch("/api/feed", {})
                            .then(response => {
                                return response.text()
                            }).then(html => {
                                const parser = new DOMParser();
                                const doc = parser.parseFromString(html, "text/html");
                                // console.log(doc);
                                const spinner = document.querySelector(".feed__Spinner");
                                spinner.insertAdjacentHTML(
                                    "beforebegin",
                                    doc.body.innerHTML,
                                );
                                carouselInIt();
                            }).catch(error => {
                                console.error('Failed to fetch page: ', error)
                            })
            }
        });
    });

    const carouselInIt = () => {
        // @ts-ignore
        // import Glider from 'glider-js';
        const glideElements = document.querySelectorAll(".glider");
        
        glideElements.forEach((gld) => {            
            new Glider(gld, {
                slidesToShow: 1,
                dots: gld.parentNode.querySelector('.glider-dots'),
                draggable: false,
                arrows: {
                    prev: gld.parentNode.querySelector('.glider-prev'),
                    next: gld.parentNode.querySelector('.glider-next')
                }
            });
        });
    }

    observer.observe(document.querySelector('.feed__Spinner'));
</script>