---
import { Post } from '@component/Post'
import { getRandomInt } from '@util/getRandomInt';

export interface Props {
    number?: number
}

const {
    number = getRandomInt(1, 10),
} = Astro.props as Props
---

<style lang="scss">
    @use '../../styles/scss/variables' as *;
    @use '../../styles/scss/mixins' as *;
</style>

<div class='posts__Posts'>    
    {[...Array(number)].map((x) => 
         <Post />
    )} 
</div>

<script>

</script>