@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.backIcon__BackIcon{
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        height: 3em;
        width: 3em;

        path{
            stroke: var(--nothing-light);
            stroke-width: 1;
            fill:none;
        }
    }
}