@use '../../styles/scss/variables' as *;
@use '../../styles/scss/mixins' as *;

.backIcon__BackIcon{
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        height: 1em;
        width: 1em;

        polyline,
        path{
            stroke: currentColor;
            stroke-width: 1.5;
            fill:none;
        }
    }
}