@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.profile__Profile{
    // padding: 1em;
    width: calc(100% - 2em);
    max-width: 900px;
    margin: 1rem auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .profile__Data{
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 1fr;
        gap: 1em;

        @include sm(){
            margin-bottom: 4rem;
        }
    }

    .profile__Data_data{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        @include sm(){
            flex-wrap: wrap;
        }
        

        .profile__Data_username{
            flex-grow: 1;
            font-size: 2rem;

            @include script-bold;

            @include sm(){
                width: 100%;
                flex-grow: 3;
            }
        }

        .profile__Data_following,
        .profile__Data_message{
            background-color: gray;
            color: var(--nothing-background-color);
            padding: 7px 1em;
            border-radius: 10px;
            @include script-bold;
        }

        .profile__Data_add{
            width: 1.5em;
            height: 1.5em;

            // aspect-ratio: 1/1;
            // border: 2px solid currentColor;
            // padding: 7px;
            // border-radius: 10px;
            // height: 1em;
            // text-align: center;
        }
    }

    .profile__Stats_stats{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        font-size: 1.4rem;

        @include script;

        @include sm(){
            flex-wrap: wrap;
        }

        .profile__Stats_number{
            @include script-bold;
            font-size: 1.2rem;
        }
    }

    .profile__Data_avatar{
        grid-row: 1 / 4;

        .blurImage{
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 100%;
            margin: 50px;

            @include sm(){
                margin: 0 10px 10px 0;
            }

            canvas{
                max-width: 200% !important;
            }
        }
    }

    .profile__Bio{
        font-size: 1.2rem;
        @include script;
    }

    .profile__Stories{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 2rem;
        padding-bottom: 3rem;
        padding-left: 3rem;

        .storieIcon{
            margin-bottom: 0.5em;
        }
    }

    .profile__Grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        grid-column: 1 / 5;

        .profile__Grid_item{   
            aspect-ratio: 1/1;
            overflow: hidden;

            .blurImage{    
                height: 100%;
                width: 100%;
    
                canvas{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }   
    }
}
