@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.post__CommentIcon{
    height: 1.25em;
    width: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        height: 1em;
        width: 1em;
        overflow: visible;

        path{
            stroke: $ui-gray;
            stroke-width: 1;
            fill: none;
        }
    }
}