@use 'variables' as *;


@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }


 @mixin script {
    font-family: "redacted_scriptregular", system-ui;
 }

 @mixin script-bold {
    font-family: "redacted_scriptbold", system-ui;
 }


 @mixin button {
   background-color: var(--nothing-color);
   color: var(--nothing-background-color);
   padding: 7px 1em;
   border-radius: 10px;
 }