@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.post__comment{

    .post__Comment_Username{
        font-size: 1rem;
        @include script-bold;
    }


    p{
        text-align: left;
        // color:var(--nothing-light);
        font-size: 1.5rem;
        
        @include script;
    }

    &:not(.isSlim){
        margin: 0 auto 2rem auto;
        display: grid;
        grid-template-columns: 3rem auto 2rem;
        grid-template-areas: "a b d" "a c d";
        max-width: 900px;

        // &::after{
        //     content: "";
        //     width: 80%;
        //     height: 2px;
        //     background-color: aqua;
        // }

        .post__comment_meta{
            grid-area: c;
        }

        p{
            margin: 5px;
        }

        .post__comment_avatar{
            grid-area: a;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            overflow: hidden;

            .blurImage{
                width: 5em;
            }
        }

        .post__comment_heart{
            grid-area: d;
        }
    }

    
}