---
import { Layout } from "@globals"

import { Story } from "@component/Story"
import { Slider } from "@component/Slider"
---

<style lang="scss">
    @use '../styles/scss/variables' as *;
    @use '../styles/scss/mixins' as *;

    .stories_Container {
        max-width: 600px; 
        height: 90vh; 
        margin: auto; 
        aspect-ratio: 9 / 16;

        @include sm{
            aspect-ratio: unset;
            height: 100vh;
            max-width: 100%;
            margin-top: -3rem;
            z-index: 150;
            position: relative;
        }
    }
</style>

<Layout title="void | stories" bodyClass="stories">
    <div class="stories_Container">
        <Slider> 
            <Story slot="slider-first"/>
            <Story slot="slider-second"/>
        </Slider>
    </div>
</Layout>

<script>
    import { storyInIt } from '@util/storyInIt';

    

    const slider = document.querySelector('.slider__Slider');

    slider.bang = (el) => {

        let newSecond = document.createElement("div");
        slider.dispatchEvent(new CustomEvent("swap", {detail: {
            second: newSecond,
        },}));

        setTimeout(() => {
            const stories = document.querySelectorAll('.story__Story');
            stories.forEach((s)=>{
                s.startAnimation();   
            })
        }, 700);
        
        // const stories = first.querySelectorAll('.story__Story');
        // stories.forEach((story) => {
        //     story.startAnimation();
        // })

        fetch("/api/story", {})
            .then(response => {
                return response.text()
            }).then(html => {
                const parser = new DOMParser()
                const doc = parser.parseFromString(html, "text/html")
                newSecond.innerHTML = doc.body.innerHTML;
                storyInIt();
            }).catch(error => {
                console.error('Failed to fetch page: ', error)
            })
    }

    const first = document.querySelector('.slider__Slider__first');
    const firstStory = first.querySelector('.story__Story');
    firstStory.startAnimation();
   
</script>