@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.modal__Modal{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    z-index: 100;

   

    .modal__Content{
        display: none;
        margin: auto;
        padding: 1em;
        min-width: 25vw;
        height: fit-content;
        color:var(--nothing-color);
        background-color: var(--nothing-background-color);

        z-index: 101;
    }

    .modal__Backdrop{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--nothing-dark);
        opacity: 0.3;
        z-index: 99;
    }

    &.open{
        display: flex;

        .modal__Backdrop,
        .modal__Content{
            display: block;
        }
    }
}