---
export interface Props {
    className?: Array<string>;
}

const {
    className,
} = Astro.props as Props

import './Modal.scss';

---

<div class:list={[ 'hello modal__Modal', className ]} >  
    <div class='modal__Content'>
        <slot />
    </div>
    <div class='modal__Backdrop'></div>
</div>

<script>
    const modalBackdrops = document.querySelectorAll(".modal__Backdrop");

    modalBackdrops.forEach((backdrop) => {
        backdrop.addEventListener("click", () => { 
            backdrop.parentNode.classList.add("closed");
            document.body.classList.remove('scrollFreeze');
        });
    });
</script>