@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.header{
    border-bottom: 1px solid var(--light);
    padding: .5em 1em .5em 1em;
    height: 1.5em;
    // width: 100%;
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:var(--light);


    svg{
        height: 1.5em;
        width: 1.5em;
        overflow: visible;
        // filter: blur(1px);

        rect{
            stroke: var(--light);
            fill: none;
            stroke-width: 1.5;
        }

        path{
            stroke: var(--light);
            stroke-width: 1.5;
        }
    }
}