@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.header{
    border-bottom: 1px solid var(--nothing-light);
    padding: .5em 1em .5em 1em;
    height: 1.5em;
    // width: 100%;
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:var(--nothing-light);

    .header__Icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;

        > * {
            height: 24px;
        }

        svg{
            height: 24px;
            width: 1.5em;
        }
    }

   
}