---
---


<div class="comment">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien ligula, vulputate ut varius a, euismod ut urna. Nam tincidunt sodales lorem, ut laoreet erat. Sed pulvinar quam odio, ac posuere sem feugiat a. Fusce bibendum arcu ut bibendum luctus. Integer malesuada est non risus lobortis condimentum. Ut consectetur porta mattis. In eleifend rhoncus lorem a fringilla. Sed nec volutpat ligula. Suspendisse tempus, sem eu commodo varius, sem elit convallis leo, sed porttitor sem lacus at lectus. Donec id sem vestibulum sapien venenatis luctus. Proin in dictum lacus. Etiam mauris sapien, vestibulum ut interdum vel, faucibus id neque. Donec at facilisis erat, eu elementum mauris. </p>
</div>

<style lang="scss">
    .comment{
        // background-color: darkgray;

        p{
            color:var(--lighter);
        }
    }
</style>