---
---
<style lang="scss">
    @use '../../styles/scss/variables' as *;
    @use '../../styles/scss/mixins' as *;

    .playIcon__PlayIcon{
        height: 1em;
        width: 1em;
    }
</style>

<div class="playIcon__PlayIcon">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M14.3,6.8c.7.4.9,1.2.5,1.9-.1.2-.3.4-.5.5L3.2,15.7c-.9.5-2.2,0-2.2-1.2V1.5C1,.4,2.2-.2,3.2.3l11.1,6.5Z"/>
    </svg>
</div>