@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.storieIcon{
    
    height: 3em;
    width: 3em;

    // background: linear-gradient(to top, #3acfd5 0%, #3a4ed5 100%);
    background-color: wheat;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    position: relative;
      
    .storieIcon__border {
        border-radius: 100%;
        content: '';
        background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        top: -.5em;
        left: -.5em;
        bottom: -.5em;
        right: -.5em;
        position: absolute;
        z-index: -1;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}