
.post__comments{

    &.open{
        .post__comments_comments{
            left: 100vw;
        }
    }

    .post__comments_comments{
        position: fixed;
        background-color: var(--nothing-background-color);
        height: 100vh;
        top: 0;
        left: 100vw;
        width: 100vw;
        transition: left 1s ease-in-out;
    }
}



