@use '../../styles/scss/variables' as *;
@use '../../styles/scss/mixins' as *;

.post__comments{
    &.open{
        .post__comments_comments{
            left: 0;
        }
    }

    .post__Comments_Viewall{
        cursor: pointer;
        text-decoration: underline;
        @include script;
    }

    .post__comments_comments{
        position: fixed;
        
        height: 100vh;
        top: 0;
        left: 100vw;
        width: 100vw;
        transition: left 1s ease-in-out;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 4rem auto 4rem;
        z-index: 90;
        background-color: rgba(255, 255, 255, 0);

        .post__ShareIcon{
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
        }

        .backIcon__BackIcon{
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
        }

        .post__comments_comments___header{
            display: flex;
            align-content: center;
            justify-content: space-between;
            width: 500px;
            margin-left: auto;
            background-color: var(--nothing-background-color);
            padding: 2rem;

            @include sm{
                width: unset;
                margin-left: unset;
            }

            .post__comments_comments___header_label{
                line-height: 1rem;
                font-size: 2rem;

                @include script-bold;
            }
        }

        .post__comments_comments___comments{
            height: auto;
            overflow: scroll;
            width: 500px;
            margin-left: auto;
            background-color: var(--nothing-background-color);
            padding: 2rem;

            @include sm{
                width: unset;
                margin-left: unset;
            }
        }
    }

    .post__comments_comments___submission{
        width: 500px;
        margin-left: auto;
        background-color: var(--nothing-background-color);
        padding: 2rem;

        @include sm{
            width: unset;
            margin-left: unset;
        }
    }

    .post__comments_comments___input{
        outline: none;
        padding: 0.6em 50px 0.6em 0.6em;

        background-color: transparent;
        border: 0px ;
        color:  var(--nothing-ui-color);
        border-radius: 1rem;

        font-size: 0.8em;
        outline: none;

        &:focus {
            // background-color: var(--nothing-light);
            // border: 1px solid rgb(216, 222, 255);
        }
    }

    .post__comments_comments___submit{
        color: white;
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 16px;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 16px;
        outline: none;

        @include script;
    }
}