@use '../../styles/scss/variables' as *;
@use '../../styles/scss/mixins' as *;

.bigButton{
    background-color: red;
}

.post{
    padding: 1em;
    width: calc(100% - 2em);
    max-width: 900px;
    margin: auto;

    @include sm(){
        padding: 1em 0em;
        width: calc(100% - 0em);
    }

    .post__header{
        height: 2em;
        margin: 1em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;

        @include sm(){
            margin: 1em;
        }

        .post__header__icon{
            height: 2em;
            width: 2em;
            border-radius: 50%;
            overflow: hidden;

            .blurImage{
                width: 5em;
            }
        }
        .post__header__name{
            // flex-grow: 1;
            font-size: 2rem;
            text-align: left;

            @include script-bold();

            @include sm(){
                // color:red;
            }

            a, a:visited{
                text-decoration: none;
                color: var(--nothing-ui-color);
            }

            a:hover{
                text-decoration: underline;
            }
        }

        .post__header__time{
            flex-grow: 1;
            font-size: 1.5rem;

            @include script;

            &:before {
                content:"\A";
                width:4px;
                height:4px;
                border-radius:50%;
                background: currentColor;
                display:inline-block;
                margin: 0 10px 0 0;
            }
        }

        .post__header__options > div,
        .post__header__options > div:after,
        .post__header__options > div:before {
            height: 0.25em;
            width: 0.25em;
            background-color: var(--nothing-light);
            border-radius: 50%;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
        .post__header__options{
            z-index: 10;
            
            > div {
                position: relative;
            }

            > div:after {
                content: "";
                position: absolute;
                bottom: calc((1em / 2) - (0.25em / 2));
                left: 0;
            }

            > div:before {
                content: "";
                position: absolute;
                top: calc((1em / 2) - (0.25em / 2));
                left: 0;
            }

        }
    }
    
    .post__image{
        // border: 1px solid black;

        .post__image__icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: .5rem 0;
            font-size: 1.6rem;
            color: var(--nothing-lighter);
            height: 1.6em;
            gap: 1rem;

            @include sm(){
                margin: 0.5em;
                font-size: 1.5rem;
                height: 1.5rem;
            }

            .post__image__comment{
                cursor: pointer;
            }

            .post__image__share:not(:empty),
            .post__image__bookmark:not(:empty){
                margin-left: auto;
            }

            .post__image__share:empty,
            .post__image__bookmark:empty{
                display: none
            }

            .post__ShareIcon {
                margin-left: auto;
            }
        }

        
    }

    .post__meta{

        @include script;

        @include sm(){
            margin: 0 1em;
        }

        .post__likes{
            display: flex;
            flex-direction: row;
            font-size: 1.5rem;
            line-height: 1rem;

            .post__likes__circle{
                height: 1em;
                width: 1em;
                border-radius: 50%;
                margin-left: -10px;
                overflow: hidden;

                .blurImage{
                    width: 4em;
                }
            }

            .post__likes__circle:empty{
                background-color: aqua;
            }


            .post__likes__number{
                padding: 0;
                margin: 0 0 0 10px;

                span{
                    @include script-bold();
                    font-size: 1.2rem;
                    line-height: 1rem;
                }
            }
        }
    }

    &.comments__open{
        .post__comments .post__comments_comments{
            left: 50vw;

             @include sm(){
                left: 0;
            }
        }
    }

    &.comments__loaded{
         .post__comments .post__comments_comments{
            .spinner{
                display: none;
            }
         }
    }

    .post__comments{
        .post__comments_comments{
            position: fixed;
            height:100vh;
            top: 0;
            left: 100vw;
            width: 50vw;
            transition: left 1s ease-in-out;
            box-sizing: border-box;
            display: grid;
            grid-template-rows: 4rem auto 4rem;
            z-index: 90;
            // background-color: rgba(255, 255, 255, 0);
            background-color: var(--nothing-background-color);
            gap: 1rem;

            @include sm(){
                width: 100vw;
                height: calc(100vh - 80px);
            }

            .post__comments_comments___header{
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid currentColor;
            }

            .post__comments_comments___comments{
                padding: 1rem;
            }

            .backIcon__BackIcon{
                height: 1em;
                width: 1em;
                fill: currentColor;
            }

            .spinner{
                margin: 100px auto;
            }
        }
    }

    .post__Comments_openComments{
        user-select: none;
        -moz-user-select: none;
        cursor: pointer;
    }
    
}

