:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(125, 124, 124);
    background-color: #ffffff;

    --light:rgb(168, 167, 167);
    --lighter:wheat;
    /* --lightest:blue;

    --dark:violet;
    --darker:yellow;
    --darkest:LightGreen; */

    --ui-color: rgb(125, 124, 124);
    --background-color: #ffffff;

    color: var(--light);
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    --ui-color: rgb(125, 124, 124);

    --light:rgb(88, 87, 87);
    --lighter:wheat;
    /* --lightest:blue;

    --dark:violet;
    --darker:yellow;
    --darkest:LightGreen; */

    --background-color: black;

    color: rgb(125, 124, 124);
    background-color: black;

    color: var(--light);
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
